.page-header {
  position: fixed;
  width: 100%;
  max-width: $layout_width;
  padding-top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  z-index: 11;

  @include mq($min-width: 1069px) {
    padding-top: 20px;
  }

  &__wrapper {
    z-index: 21;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 50px;

    @include mq($min-width: 1069px) {
      padding: 0 70px;
      background-color: rgba(255, 255, 255, 0.5);
    }

    .nav-primary {
      display: none;
      @include mq($min-width: 1069px) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }

      a {
        color: $color_text_black;
      }
    }

    .nav {
      position: relative;

      .menu-item-has-children.active {
        // > a {
        //   background-color: #fff;
        // }

        > .sub-menu {
          display: block;
          opacity: 1;
        }
      }

      > li {
        position: relative;

        a {
          background-color: transparent;
          padding: 16px 20px;
          margin: 0;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          position: relative;
          font-weight: bold;
          font-size: 15px;
          text-decoration: none;

          @include mq($min-width: 992px) {
            padding: 16px 20px;
          }

          @include mq($min-width: 1169px) {
            padding: 16px 30px;
          }

          &:hover {
            background-color: #fff;
          }
        }

        &:last-child {
          margin-right: 0;
          margin-left: 30px;
          background-color: transparent;

          a {
            color: #fff;
            padding: 9px 24px 9px 33px;
            width: 100%;
            background-color: $color_primary;
            position: relative;

            &::before {
              content: "\f04b";
              font-family: FontAwesome, sans-serif;
              left: 12px;
              font-size: 0.8em;
              position: absolute;
              color: #fff;
              top: 50%;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }

  .sub-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50%;
    top: 37px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    list-style: none;
    background-color: #fff;
    width: 100%;
    text-align: center;
    border-top: 2px solid $color_primary;
    -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
    display: none;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;

    li {
      width: 100% !important;
      border-bottom: 1px solid #c4c4c4;
      position: relative;

      &:last-child {
        border-bottom: 0;
      }

      a {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.2 !important;
        width: 100%;
        padding: 15px 10px;
        margin: 0 !important;
        width: 100%;
        background-color: #fff;
        display: block;
        -webkit-transition: 0.3s;
        transition: 0.3s;

        &:hover {
          background-color: $color_primary;
          color: #fff;
        }
      }
      ul.sub-menu {
        position: absolute;
        left: 150%;
        top: 0;
        opacity: 0;
        display: none;
        border: 0;
      }
    }
  }

  &__search {
    display: none;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    @include mq($min-width: 1069px) {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    p {
      margin-right: 30px;
      margin-top: -7px;
    }
  }

  .search-submit {
    display: none;
  }

  .form-inline,
  .search-form {
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-box-orient: horizontal;
  	-webkit-box-direction: normal;
  	-ms-flex-flow: row wrap;
  	flex-flow: row wrap;
  	-webkit-box-align: center;
  	-ms-flex-align: center;
  	align-items: center;
  }

  .sr-only,
  .screen-reader-text {
  	position: absolute;
  	width: 1px;
  	height: 1px;
  	padding: 0;
  	overflow: hidden;
  	clip: rect(0, 0, 0, 0);
  	white-space: nowrap;
  	border: 0;
  }

  .search-form {
    height: 10px;
    padding-right: 70px;
    margin-bottom: 20px;

    label {
      position: relative;
      margin-bottom: 0;

      &::after {
        content: "";
        position: absolute;
        left: 5px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 10px;
        height: 19px;
        background-size: 10px 19px;
        background-image: url(#{$images_dir}search.svg);
        z-index: 4;
      }
    }

    .search-field {
      padding: 5px;
      padding-left: 20px;
      border-radius: 3px;
      border: 1px solid $color_text_gray;
      font-size: 15px;
      height: 24px;

      &::-webkit-input-placeholder {
        display: none;
      }

      &::-ms-input-placeholder {
        display: none;
      }

      &:-ms-input-placeholder {
        display: none;
      }

      &::placeholder {
        display: none;
      }
    }
  }
}

.scrolled {
  top: 0;
  @include mq($min-width: 1069px) {
    top: -53px;
  }
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
}

.hamburger {
  padding-right: 0 !important;
  display: block !important;
  @include mq($min-width: 1069px) {
    display: none !important;
  }

  &:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.overflow-hidden {
  overflow: hidden !important;
}

.cards-menu-container {
  .sub-menu {
    max-width: 100%;
    width: 100%;
    @include mq($min-width: 1069px) {
      max-width: 555px;
      width: auto !important;
    }
  }
}

.karty-submenu-wrapper {
  max-width: 100%;
  width: 100%;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  @include mq($min-width: 768px) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  @include mq($min-width: 1069px) {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .karta {
    text-align: left !important;
    margin: 0;
    padding: 0;

    @include mq($min-width: 768px) {
      border-right: 1px solid $color_text_gray;
      margin-top: 30px;
      margin-bottom: 30px;
      padding-left: 30px;
      padding-right: 30px;
    }

    &:last-child {
      border-right: none;
    }
    h3 {
      font-size: 16px;
      color: $color_primary;
    }
    p {
      font-size: 12px;
      color: $color_text_black;
    }
    img {
      max-width: 180px;
      height: auto;
    }
    a {
      padding: 30px 0 !important;
      margin: 0 !important;
      &:hover {
        background-color: transparent !important;
      }
    }
  }
}
